{% set secondary_nav = [{
    "title": "Item 1",
    "id": "item-1",
    "url": "/item-1.html"
  },
  {
    "title": "Item 2",
    "id": "item-2",
    "url": "/item-2.html"
  },
  {
    "title": "Item 3",
    "id": "item-3",
    "url": "/item-3.html"
  }] %}

<nav class="nav nav--secondary">
  <ul class="nav__list">
    {% for nav_item in secondary_nav %}
      <li class="nav__item{% if page == nav_item.id %} is-active{% endif %}">
        <a href="{{ nav_item.url }}">
          {{ nav_item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
