{% set social_nav = [{
    "title": "Facebook",
    "icon": "facebook",
    "url": "#"
  },
  {
    "title": "Instagram",
    "icon": "instagram",
    "url": "#"
  },
  {
    "title": "Twitter",
    "icon": "twitter",
    "url": "#"
  }] %}

<nav class="nav nav--social">
  <ul class="nav__list">
    {% for nav_item in social_nav %}
      <li class="nav__item">
        <a href="{{ nav_item.url }}">
          {{ nav_item.title }}
          {{ _ui.icon(nav_item.icon) }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
