{% set primary_nav = [{
    "title": "About us",
    "id": "about-us",
    "url": "/about-us.html"
  },
  {
    "title": "Our work",
    "id": "our-work",
    "url": "/our-work.html"
  },
  {
    "title": "Shopify",
    "id": "shopify",
    "url": "/shopify.html"
  },
  {
    "title": "Services",
    "id": "services",
    "url": "/services.html"
  },
  {
    "title": "Work with us",
    "id": "jobs",
    "url": "/jobs.html"
  }] %}

<nav class="nav nav--primary">
  <ul class="nav__list">
    {% for nav_item in primary_nav %}
      <li class="nav__item{% if page == nav_item.id %} is-active{% endif %}">
        <a href="{{ nav_item.url }}" class="{% if nav_item.id == 'jobs' %}btn{% endif %}">
          {{ nav_item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
