<!doctype html>
<html lang="{{ language }}" class="no-js {{ language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    {% if not is_stylesheet %}
      {% include 'twig/modules/header.html' %}
    {% endif %}

    <main class="main">
      {% block content %}
      {% endblock %}
    </main>

    {% if not is_stylesheet %}
      {% include 'twig/modules/footer.html' %}
    {% endif %}
    <script src="../assets/js/vendor.bundle.js"></script>
    <script src="../assets/js/app.bundle.js"></script>
  </body>
</html>
