<article>{% render 'pagefly-article-info' %} {% render 'pagefly-featured-image' %}<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow:400,700,600,500|Questrial:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.1/css/main-style.css?t=20201014141047"><link rel="stylesheet" href="{{ 'pagefly.6b8bfa9c.scss.css' | asset_url }}">
		  {% if product_5615705260193 == null %}{%- assign product_5615705260193 = all_products['ginger-blast-04-gember-tijm-salie'] -%}{% endif %}<script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["5615705260193"] = {
					id: {{product_5615705260193.id | json }},
					handle: {{product_5615705260193.handle | json }},
					title: {{product_5615705260193.title | json }},
					type: {{product_5615705260193.type | json }},
					url: {{product_5615705260193.url | json }},
					vendor: {{product_5615705260193.vendor | json }},
					variants: {{product_5615705260193.variants | json }},
					options: {{product_5615705260193.options | json }},
					media: {{product_5615705260193.media | json }},
					has_only_default_variant: {{product_5615705260193.has_only_default_variant | json }},
					options_with_values: {{product_5615705260193.options_with_values | json }},
					selected_variant: {{product_5615705260193.selected_variant | json }},
					selected_or_first_available_variant: {{product_5615705260193.selected_or_first_available_variant | json }},
					tags: {{product_5615705260193.tags | json }},
					template_suffix: {{product_5615705260193.template_suffix | json }},
					featured_image: {{product_5615705260193.featured_image | json }},
					featured_media: {{product_5615705260193.featured_media | json }},
					images: {{product_5615705260193.images | json }}
				};window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-e4ace441"><div data-pf-type="Layout" class="pf-3b0be4ac"><div data-container="true" class="sc-pZopv bjKdkd pf-579cbee9" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-05e14271 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8e6b05e1" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-0f34cd64"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ecfe0f34">Anthony Lee - Jan 01 2020</span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ed9da0c3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-12eded9d">How to use your blog to sell</span></h3><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e27d85f-e209-4fd2-bd3d-d9369081f9ba--Cipi-01.jpg?v=1581497825 1200w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e27d85f-e209-4fd2-bd3d-d9369081f9ba--Cipi-01_800x361.jpg?v=1581497825&resized 800w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e27d85f-e209-4fd2-bd3d-d9369081f9ba--Cipi-01_400x181.jpg?v=1581497825&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-a0c38e6b pf-img-lazy" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-8420579c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-05278420" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt hHSLcU pf-06d39128"><span data-pf-type="Dropcap" class="sc-pcxhi hdxfhd pf-4271e3f6">M</span><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e3f606d3">any companies spend lots of resources and effort to create a blog that supports their business, particularly the sales process. Yet many corporate bloggers complain that while blogs contain relevant information and attract visitors, they can’t track how&nbsp;their blog has influenced sales. Social media has raised customers’ expectations about the information they need before they purchase. If your blog content is relevant to prospects’ and customers’ needs before and after purchase and your products deliver on their promise, you can convert your blog into a sales machine.</span></p><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0463/0462/4801/t/2/assets/pf-851d943d--9-sl-herfst-banner.gif?v=1601384014 1200w, https://cdn.shopify.com/s/files/1/0463/0462/4801/t/2/assets/pf-851d943d--9-sl-herfst-banner.gif?v=1601384014 800w, https://cdn.shopify.com/s/files/1/0463/0462/4801/t/2/assets/pf-851d943d--9-sl-herfst-banner.gif?v=1601384014 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-f0851d94 pf-img-lazy" data-pf-type="Image2"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-9b7cace9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2c619b7c"><br>3 cs of using your blog to sell</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6d32184c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0d476d32"><span style="font-weight: bold;">Content</span>. Provide useful, educational and entertaining content. Present information based on your product offering and customers’ problems or needs.<br><br><span style="font-weight: bold;">Context</span>. While your end goal is to sell, consider the context of your blog posts. Here, you’re a tour guide through your firm’s extended offering – not an auctioneer. Your job is to show readers how to use your firm’s products.<br><br><span style="font-weight: bold;">Commerce</span>. Once you’ve given your readers useful information in a meaningful setting, they may be interested in actually plunking down their credit card. Unfortunately, here’s where many business blogs stop. Blog editors, familiar with their company’s e-commerce site and how to find specific products, can assume readers innately know how to find the product or have the motivation to track it down. Don’t get me wrong. Some very small percentage of prospects will to go extreme efforts to find the product. Unfortunately, the rest will just leave or worse go to your competitor.<br></span></p><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-49b69de5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-547349b6">Ways to convert your traffic to sales</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-e654ec94"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a9f3e654">To make your blog an effective sales machine, integrate your product into your content in a way that doesn’t scream BUY, BUY, BUY. Here are five steps to provide relevant information and eye-candy to lure readers in and help convert blog posts to sales receipts.</span></p><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a6b25155"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0289a6b2"><span style="font-weight: bold;">Provide useful, relevant information</span>. Show prospects how to use your product, give them instructions or how-tos, and/or entertain them.</span></p><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e25658b-670c-4ebd-a00f-9e3992285003--Cipi-02.jpg?v=1581498464 1200w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e25658b-670c-4ebd-a00f-9e3992285003--Cipi-02.jpg?v=1581498464 800w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-3e25658b-670c-4ebd-a00f-9e3992285003--Cipi-02_400x226.jpg?v=1581498464&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-51551be7 pf-img-lazy" data-pf-type="Image2"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-117f537f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-add2117f">Showing making procedure is a good way to guarantee product quality</span></p><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-a4e32a23"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a57ba4e3"><span style="font-weight: bold;">Include a variety of different forms of content.</span> Photographs and videos are particularly important because readers tend to be visual and want to see your product in action.</span></p><div class="sc-qPjXN eYzxUD pf-ed23b929 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:10px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b3954756" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0d01048d-ab6e-477c-9f6a-e2173e8c0cd4--Cipi-03.png?v=1581498706 1200w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0d01048d-ab6e-477c-9f6a-e2173e8c0cd4--Cipi-03.png?v=1581498706 800w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-0d01048d-ab6e-477c-9f6a-e2173e8c0cd4--Cipi-03.png?v=1581498706 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-2a23b395 pf-img-lazy" data-pf-type="Image2"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-b548ed23" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-77c9a33a-4245-40ef-89ba-81570761a7f1--Cipi-04.png?v=1581498723 1200w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-77c9a33a-4245-40ef-89ba-81570761a7f1--Cipi-04.png?v=1581498723 800w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-77c9a33a-4245-40ef-89ba-81570761a7f1--Cipi-04.png?v=1581498723 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-4756b548 pf-img-lazy" data-pf-type="Image2"></div></div></div><div class="sc-qPjXN eYzxUD pf-02021702 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:10px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-024a0202" data-pf-type="Column"><a data-action="modal" data-popup-content="youtube" data-src="https://www.youtube.com/embed/UhP76B2SMiE?autoplay=0&loop=0&mute=0&controls=0&enablejsapi=1" href="#" data-width="854px" data-height="480px" data-pf-type="Image2" class="sc-pzLqt jakOsZ pf-b929f8d6"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-6f70fb66-89b2-427d-9559-550e5f8cac25--Cipi-05.png?v=1581498732 1200w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-6f70fb66-89b2-427d-9559-550e5f8cac25--Cipi-05.png?v=1581498732 800w, https://cdn.shopify.com/s/files/1/2170/1117/t/10/assets/pf-6f70fb66-89b2-427d-9559-550e5f8cac25--Cipi-05_400x222.png?v=1581498732&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-img-lazy"></a><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6876024a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b4196876">Get customer attention by clean visual and video </span></p></div></div></div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-d1881255"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ef20d188"><span style="font-weight: bold;">Make it easy to buy by eliminating stumbling blocks to purchase.</span> Don’t assume customers know which item you’re talking about in your post. Provide a link directly to the product page or just link the product to your blog so they can buy if they want. If it relevant give readers more than one way to get to the product.<br></span></p><div data-product-id="5615705260193" data-default-variant="35994267910305" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-c2aa49b8">{% assign defaultProduct = product %}{% assign product = product_5615705260193 %} {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-34c2aa49" %}<div class="sc-qPjXN eYzxUD pf-1034c2aa pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-97f669a4" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-default-source="featured" data-pf-type="ProductImage" class="sc-pzLIQ SfOJX pf-125597f6">{% assign img_size = product.images.size %}<div class="sc-qZusK vHMOL">{% if img_size > 1 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<picture height="450px" spacing="10px" data-pf-type="MasterImage" data-magnifier="true" mode="view" class="sc-pQERe jnSTcn" style="height: auto;"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}" data-img-id="{{ product.featured_image.id }}" class="pf-img-lazy" width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}"></picture>{% if img_size > 1 %}<div spacing="10px" class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div><div data-pf-type="ProductGallery" data-product-id="{{ product.id }}" height="450px" spacing="10px" class="sc-pHHLp gmWBgT">{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image prev-arrow"><i class="fa fa-angle-left"></i></div>{% endif %}<div class="pf-p-image-small-container"><div class="pf-small-img-roll" style="padding-top: 5px; margin: -5px;">	{% for image in product.images %} <div class="sc-psbuI efwYHr" style="margin: 0px 5px;"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="pf-show-small-img" alt="{{ image.alt | escape }}" data-src="{{ image.src | img_url: 'master' }}" data-img-id="{{ image.id }}"></div>{% endfor %} </div></div>{% if img_size > 5 %}<div class="sc-qQZrP geCFJR pf-navigation-list-image next-arrow"><i class="fa fa-angle-right"></i></div>{% endif %}</div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-ccdc1034" data-pf-type="Column"><h3 data-product-type="title" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-69a45c7f">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-5c7f0b1f">{{ product.variants[0].price | money }}</div><div data-product-id="{{ product.id }}" data-combined="true" data-display="dropdown" data-label="true" data-pf-type="ProductVariant" class="sc-pQfSI jGpWza pf-0b1f6b7b" style="--pf-s-lg:16px; --pf-s-md:16px; --pf-s-sm:8px; --pf-s-xs:8px;"><div class="pf-p-variant"><select name="id" data-productid="{{ product.id }}">{% for variant in product.variants %}<option value="{{ variant.id }}">{{ variant.title }} - {% if variant.available != true %}Sold Out {% else %} {{ variant.price | money }} {% endif %}</option>{% endfor %}</select></div></div><div data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-6b7bdc23">{{ product.content }}</div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-35e8ccdc"><div data-product-id="{{ product.id }}" size="40" data-pf-type="ProductQuantity" class="sc-pQQAz daLzjN pf-dc239beb"><input min="1" type="number" data-hidespinner="false" name="quantity" value="1"></div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-4ec735e8" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div></div>{% endform %}{% endif %}{% assign product = defaultProduct %}</div><div class="sc-oUAMm bPnfgz pf-dfb955e2 pf-r-dg pf-r-dg-lg--3 pf-r-dg-md--3 pf-r-dg-sm--2 pf-r-dg-xs--2" data-pf-type="ProductList" style="--pf-s-lg:30px; --pf-s-md:30px; --pf-s-sm:30px; --pf-s-xs:30px;">{% assign defaultProduct = product %}
				{% assign product = all_products['null'] %}
				{% assign defaultCollection = collection %}{% assign excluded_count = 0 %}
					{% assign foundCollection = null %}
					{% for c in product.collections %}
						{% if foundCollection == null and c.handle != 'all' and c.all_products_count > 1 %}
							{% assign foundCollection = c %}
						{% endif %}
					{% endfor %}
				{% paginate foundCollection.products by 3 %}{% for pfp in foundCollection.products %}{% if pfp.id == null %}{% assign excluded_count = excluded_count | plus: 1 %}{% endif %}{% endfor %}{% endpaginate %}{% assign limit = 3 | plus: excluded_count %}{% paginate foundCollection.products by limit %}{% for product in foundCollection.products %}{% if product.id != null %}<div><div data-product-id="{{ product.id }}" data-pf-type="ProductBox" class="sc-pjGtN lgnAIx pf-c4ffdfb9"> {% if product != null %}{% form 'product', product, data-productid: product.id, class: "pf-product-form pf-form-38c4ffdf" %}<div class="sc-qPjXN eYzxUD pf-5838c4ff pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--undefined pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-dcaf5838" data-pf-type="Column"><div data-product-id="{{ product.id }}" data-pf-type="ProductImage2" class="sc-pYATD geuAXS pf-8ebe40ec">{% assign images = product.images %}<div spacing="[object Object]" class="sc-pIvzE hHQGS"><div data-href="/products/{{ product.handle }}" data-pf-type="MasterImage" class="sc-pAayJ fOa-DwG"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.featured_image | img_url: 'x0', scale: 2 }}" alt="{{ product.featured_image.alt }}" draggable="false">{% assign _product = product %}<div data-pf-type="ProductImagePagination" class="sc-oUbIU kkgvSC">{% for i in (1..images.size) %}<span></span>{% endfor %}</div></div><div class="sc-pkURi jKvUwv {% if 5 < images.size %}arrow-all{%endif%}{% if 5 < images.size %} arrow-laptop{%endif%}{% if 5 < images.size %} arrow-tablet{%endif%}"><div data-pf-type="ProductImageList" class="sc-psQTH ITnEo">{% assign pf_all = '' %}{% assign pf_laptop = '' %}{% assign pf_tablet = '' %}{% assign pf_mobile = '' %}{% for i in (0..images.size) limit:images.size %}{% assign image = images[i] %}{% if true %}{% if i > 4 %}{% assign pf_all = 'all_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_laptop = 'laptop_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_tablet = 'tablet_hd' %}{% endif  %}{% if i > 4 %}{% assign pf_mobile = 'mobile_hd' %}{% endif  %}{% endif  %}<div class="sc-qPkqk kuHLLu pf-49b886e4 {{pf_all}} {{pf_laptop}} {{pf_tablet}} {{pf_mobile}}" data-img-id="{{ image.id }}" data-pf-type="ImageItem"><img class="pf-img-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt }}" draggable="false"></div>{% endfor %} </div>{% if true %}<div data-pf-nav="prev" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-left"></i></div><div data-pf-nav="next" class="sc-pbXLt hyMGOk"><i class="fa fa-angle-right"></i></div>{% endif  %}</div></div></div><h3 data-product-type="title" data-product-id="{{ product.id }}" data-href="{{ product.url }}" data-pf-type="ProductText" class="sc-qPzgd jYlxvS pf-40ecc5f7">{{ product.title }}</h3><div data-product-type="price" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-c5f78c1f">{{ product.variants[0].price | money }}</div><button data-product-id="{{ product.id }}" data-checkout="same" class="sc-pcjuG uJAsR pf-2581dcaf" data-soldout="Sold out" data-adding="Adding..." data-added="Thank you!" type="button" data-pf-type="ProductATC"><span>Add To Cart</span></button></div></div></div>{% endform %}{% endif %}</div><script>
											window.__pageflyProducts = window.__pageflyProducts || {};
											window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
										</script></div>{% endif %}{% endfor %}{% endpaginate %}{% assign product = defaultProduct %}{% assign collection = defaultCollection %}</div><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-f55a0527"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4c35f55a">Article credit : Heidi Cohen ( https://heidicohen.com/use-blog-to-sell/ )<br></span></p></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-52843b0b" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-68075284 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-15a56807" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-fafaa7ba"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-96fafafa">Related Posts</span></h3><div class="sc-puFxT detHrZ pf-a7ba15a5 pf-r pf-r-ew pf-r-ew--3" data-pf-type="BlogList">{% assign defaultArticle = article %}{% paginate blogs['cipi'].articles by 3 %}{% for article in blogs['cipi'].articles  %}<div class="pf-c"><div class="blog__article article--vertical">{% unless article.image == blank %}<div class="blog__image"><a href="{{ article.url }}"><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ article.image.src | img_url: '350x300', crop: 'center' }}" alt="{{ article.title }}" class="pf-img-lazy"></a></div> {% endunless %}<div class="blog__infos"><h3><a href="{{ article.url }}">{{ article.title }}</a></h3><div class="blog__metas"><span>{{ article.published_at | date: "%b %d, %Y" }}</span><span>{{ article.author }}</span></div></div></div></div>{% else %}<div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a>{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a>Your post's title</a></h3><div class="blog__metas"><span>October 23, 2017</span><span>admin</span></div></div></div></div><div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a>{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a>Your post's title</a></h3><div class="blog__metas"><span>October 23, 2017</span><span>admin</span></div></div></div></div><div class="pf-c"><div class="blog__article article--vertical"><div class="blog__image"><a>{% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
										{{ 'collection-' | append: current | placeholder_svg_tag: 'pf-placeholder-svg' }}</a></div><div class="blog__infos"><h3><a>Your post's title</a></h3><div class="blog__metas"><span>October 23, 2017</span><span>admin</span></div></div></div></div>{% endfor %}{% assign article = defaultArticle %}{% endpaginate %}</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.1","shopDomain":"skinnylove-shop.myshopify.com","elementData":{"pf-125597f6":{"listPosition":"bottom","limit":5,"height":"450px","spacing":"10px","listLayout":"slider","_type":"ProductImage"},"pf-8ebe40ec":{"listPosition":2,"limit":{"all":5,"laptop":5,"tablet":5,"mobile":5},"spacing":{"all":"10px","laptop":"10px","tablet":"10px","mobile":"10px"},"listLayout":1,"hoverAction":2,"onHover":0,"clickAction":1,"imageSource":"featured","_type":"ProductImage2"},"pf-86e48ebe":{"applyCondition":false,"collectionSource":"all","collectionIds":[],"tags":"","_type":"ProductBadge"}},"pageTitle":"Sample blog post","pageType":"blog","pageId":"6b8bfa9c-b57f-4509-baf2-e8d09aad96bf","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-14T12:16:47.618Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.1/core/helper.js?t=20201014141047" defer></script> </article>