<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.9/css/main-style.css?t=20201029141008"><link rel="stylesheet" href="{{ 'pagefly.78a746fb.scss.css' | asset_url }}">
		  <script>
	window.__pageflyProducts = window.__pageflyProducts || {};
	window.__pageflyProducts["{{product.id}}"] = {
					id: {{product.id | json }},
					handle: {{product.handle | json }},
					title: {{product.title | json }},
					type: {{product.type | json }},
					url: {{product.url | json }},
					vendor: {{product.vendor | json }},
					variants: {{product.variants | json }},
					options: {{product.options | json }},
					media: {{product.media | json }},
					has_only_default_variant: {{product.has_only_default_variant | json }},
					options_with_values: {{product.options_with_values | json }},
					selected_variant: {{product.selected_variant | json }},
					selected_or_first_available_variant: {{product.selected_or_first_available_variant | json }},
					tags: {{product.tags | json }},
					template_suffix: {{product.template_suffix | json }},
					featured_image: {{product.featured_image | json }},
					featured_media: {{product.featured_media | json }},
					images: {{product.images | json }}
				};
	</script><div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-ee9568a9"><div data-pf-type="Layout" class="pf-2c03ee95"><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-b7d49eea">{% section 'static-product' %}
{% section 'static-product-recommendations' %}
{% section 'static-product-reviews' %}
{% section 'static-recently-viewed' %}
{% section 'static-product-promo-grid' %}
</div><div data-container="true" class="sc-pZopv bjKdkd pf-ab0d413d" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-a605f3fa pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-11b3a605" data-pf-type="Column"><a class="sc-pYbQl dqXhNs pf-548711b3 pf-i--left" data-product-id="{{ product.id }}" href="{{ product.url }}" data-pf-type="ProductViewDetails"><i class="sc-pjGMk jrwOpx pf-413de4bb fa fa-chevron-right" data-pf-type="Icon"></i><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e4bb5487">View Details</span></a></div></div></div><div class="sc-qPjXN eYzxUD pf-b9afcde3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5db3b9af" data-pf-type="Column"><div data-compact="30" data-show-button="true" data-more="" data-less="" data-product-type="content" data-product-id="{{ product.id }}" data-pf-type="ProductText" class="sc-pcLzI gJGZti pf-f3fa5db3">{{ product.content }}</div></div></div></div><div class="sc-qPjXN eYzxUD pf-39bfab0d pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-c8b239bf" data-pf-type="Column"><div data-pf-scrolltop="false" data-multiple="false" data-pf-type="Accordion2" class="sc-pkfPC jHjrlE pf-f9edc8b2"><div class="sc-pJipy mZVAk pf-87b8202f accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-6980a6d9 accordion__header pf-anchor" data-header-id="e26980a6-d942-4687-b820-2f4a52f9edc8" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-caret-right"></i>Accordion Item</button><div class="sc-qYUWV exYsxy pf-892b237d accordion__content" mode="view" data-id="e26980a6-d942-4687-b820-2f4a52f9edc8" data-pf-type="Accordion2.Content" style="display: none;"></div></div><div class="sc-pJipy mZVAk pf-202f4a52 accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-a6d94246 accordion__header pf-anchor" data-header-id="80a6d942-4687-4820-af4a-52f9edc8b239" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-caret-right"></i>Accordion Item</button><div class="sc-qYUWV exYsxy pf-4a6d9d10 accordion__content" mode="view" data-id="80a6d942-4687-4820-af4a-52f9edc8b239" data-pf-type="Accordion2.Content" style="display: none;"></div></div><div class="sc-pJipy mZVAk pf-4a52f9ed accordion__item" data-pf-type="Accordion2.Content.Wrapper"><button type="button" class="sc-pBlxj gYSgcm pf-424687b8 accordion__header pf-anchor" data-header-id="d9424687-b820-4f4a-92f9-edc8b239bfab" data-action="accordion2" data-preopen="false" data-active="false" data-pf-type="Accordion.Header"><i class="icon_position accordion__arrow fa fa-caret-right"></i>Accordion Item</button><div class="sc-qYUWV exYsxy pf-49e26980 accordion__content" mode="view" data-id="d9424687-b820-4f4a-92f9-edc8b239bfab" data-pf-type="Accordion2.Content" style="display: none;"></div></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.9","shopDomain":"skinnylove-shop.myshopify.com","elementData":{},"pageTitle":"product-Sandra","pageType":"product","pageId":"78a746fb-da74-4026-b1b8-8d1d6d69f6af","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":false,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-29T13:47:49.572Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.9/core/helper.js?t=20201029141008" defer></script>