{% layout none %}

<ul>
{% if product.has_only_default_variant %}
    <li>
        {{product.title}}: <a href="{{ shop.url }}/cart/add?id={{ product.variants[0].id }}&quantity=1">{{ shop.url }}/cart/add?id={{ product.variants[0].id }}&quantity=1</a>
    </li>
{% else %}
    
    {% for variant in product.variants %}
        <li>
            {{variant.title}}: <a href="{{ shop.url }}/cart/add?id={{ variant.id }}&quantity=1">{{ shop.url }}/cart/add?id={{ variant.id }}&quantity=1</a>
        </li>
    {% endfor %}
{% endif %}
</ul>