<section
  class="account-page account-page-details"
  data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.account.title' | t }}
    </h1>
  </header>

  <div class="account-page--two-column account-page-content">
    {% comment %}
      Customer order summary
    {% endcomment %}
    <div class="account-page--column-large account-order-history js-order-history">
      <h2 class="account-page-subtitle">
        {{ 'customers.account.order_history' | t }}
      </h2>

      {% if customer.orders.size > 0 %}
        {% paginate customer.orders by 50 %}
          <table class="account-order-list">
            <thead>
              <tr>
                <th>{{ 'customers.account.order' | t }}</th>
              </tr>
            </thead>

            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td class="account-order-number">
                    {%- capture order_link -%}
                      {{ order.name }} - {{ order.created_at | date: format: 'short_day_month_year' }}
                    {%- endcapture -%}

                    {{ order_link | strip_newlines | link_to: order.customer_url, order.name }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          {% include 'pagination' %}
        {% endpaginate %}
      {% else %}
        <p class="empty">{{ 'customers.account.empty' | t }}</p>
      {% endif %}
    </div>

    {% comment %}
      Customer address summary
    {% endcomment %}
    <div class="account-page--column-small account-info">
      <h2 class="account-page-subtitle">
        {{ customer.name }}
      </h2>

      <p class="account-info-item">
        <a href="mailto:{{ customer.email }}">
          {{ customer.email }}
        </a>
      </p>

      {% if customer.default_address != nil %}
        <h2 class="account-page-subtitle">
          {{ 'customers.account.default_address' | t }}
        </h2>

        {%
          include 'account-address-list',
          address: customer.default_address
        %}
      {% endif %}

      <p class="account-address-item">
        {% if customer.addresses_count == 0 %}
          <a href="{{ routes.account_addresses_url }}">
            {{ 'customers.account.new_address_link' | t }}
          </a>
        {% else %}
          <a href="{{ routes.account_addresses_url }}">
            {{ 'customers.account.view_addresses' | t, count: customer.addresses_count }}
          </a>
        {% endif %}
      </p>

      <p>
        <a href="" class="js-order-history-toggle">
          {{ 'customers.account.show_order_history' | t }}
        </a>
      </p>


      {% comment %} <p><a href="/pages/register-affiliate-account">{{ 'customers.account.affiliate_account' | t }}</a></p> {% endcomment %}

      <!-- Bookthatapp -->
      {% comment %} {% if shop.customer_accounts_enabled %}
      	{% if customer %}
      		<p><a href="/apps/bookthatapp/customer/{{ customer.id }}">{{ 'customers.account.view_bookings' | t }}</a></p>
      	{% else %}
		    <p>{{ "Login to see your bookings" | customer_login_link }}</p>
      	{% endif %}
      {% endif %} {% endcomment %}

      <!-- Begin ReCharge code -->
      <p id="rc_link_container">
        <a href="/tools/recurring/login/">{{ 'customers.account.manage_subscriptions' | t }}</a>
      </p>
      <!-- End ReCharge code -->


      <!-- Shopify customer account -- capture and validate VAT numbers and set business customers as tax exempt when applicable. Used by Sufio for Shopify (www.sufio.com/shopify). -->
      {% comment %}
      <div class="vat-number-display">
        {% if customer.vat_number %}
          BTW nummer: {{ customer.vat_number }}
          <br /><br />
          <a href="#" class="vat-edit-link Button Button--primary">Bewerk</a>
        {% else %}
          <a href="#" class="vat-edit-link Button Button--primary">Voeg BTW nummer toe</a>
        {% endif %}
      </div>
      {% endcomment %}

      <div class="vat-number-form" style="display:none">
        <form>
          <div class="Form__Item">
            <h2 class="account-page-subtitle">BTW nummer</h2>
            <input class="form-field-input form-field-text vat_reg_no form__vat Form__Input" type="text" name="customer[note][VAT Registration Number]" placeholder="BTW nummer" value="{{ customer.metafields.sufio.vat_number }}" />
            <input type="hidden" id="customer_tags" name="customer[tags]" value="b2b"/>
          </div>
          <br>
          <div class="account-message form-message message--error vat--error" style="display: none">
            <div class="errors">
              <ul>
                <li>{{ 'customers.forms.vat_number_error' | t }}</li>
              </ul>
            </div>
          </div>

          <button type="submit" class="btn Form__Submit Button Button--primary Button--full button-primary form-action--submit">Opslaan</button>
        </form>
      </div>


      <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
          $('a.vat-edit-link').click( function() {
            $('.vat-number-display').hide();
            $('.vat-number-form').show();
            return false;
            });

          $('.vat-number-form .btn').on('click', function(event) {
            event.preventDefault();

            jQuery('input.vat_reg_no').removeClass('error');
            jQuery('input.vat_reg_no').removeClass('input--error');
            jQuery('.vat--error').css('display', 'none');
            var vatNumber = checkVATNumber(jQuery('input.vat_reg_no').val());

            if(vatNumber !== false ) {
              console.log('true');
              $('input.vat_reg_no').val(vatNumber);
              $('input.vat_reg_no').attr("name", "customer[note][VAT Registration Number]");
              $('#customer_tags').val("b2b");

              $.ajax({
                type : "PUT",
                dataType: "jsonp",
                url: "https://29649bdb4bf98c46286406301d2b1f05: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@skinnylove-shop.myshopify.com/admin/api/2020-04/customers/"+{{customer.id}}+".json",
                data: { email: "{{ customer.email }}", vat_no: vatNumber, update: true },
                success: function(data) {
                  location.reload();
                }
              });
            } else {
              console.log('else');
              jQuery('input.vat_reg_no').addClass('error');
              jQuery('input.vat_reg_no').addClass('input--error');
              jQuery('.vat--error').css('display', 'block');
              jQuery('input.vat_reg_no').parent().find('.error-message').show();
            }

            return false;
          });
        });
      </script>
    </div>
  </div>
</section>
