<section
  class="account-page account-page-order"
  data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.order.title' | t: order_number: order.name }}
    </h1>
  </header>

  <article class="account-page--two-column account-page-content">
    {% comment %}
      Order information
    {% endcomment %}
    <div class="account-page--column-large">
      <h2 class="account-page-subtitle">
        {{ 'customers.order.subtitle' | t }}
      </h2>

      <table class="account-order">
        <thead>
          <tr>
            <th class="order-item">
              {{ 'customers.order.item' | t }}
            </th>
            <th class="order-item-quantity">
              {{ 'customers.order.quantity' | t }}
            </th>
          </tr>
        </thead>

        <tbody>
          {% for line_item in order.line_items %}
            <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
              <td class="order-item">
                <div class="order-product">
                  <a href="{{ line_item.product.url }}">
                    {% if line_item.image %}
                      {%
                        include 'rimg',
                        img: line_item.image,
                        alt: line_item.title,
                        size: '50x'
                      %}
                    {%- else -%}
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder--image order-item-placeholder' }}
                    {%- endif -%}
                  </a>
                  <span class="order-item-title">
                    <a href="{{ line_item.url }}">
                      {%- if line_item.gift_card -%}
                        {{ line_item.title }}
                      {%- else -%}
                        {{ line_item.product.title }}
                      {%- endif -%}
                    </a>
                    {%- unless line_item.variant.title == 'Default Title' or line_item.gift_card -%}
                      <span class="order-item-options">
                        {{ line_item.variant.title }}
                      </span>
                    {%- endunless -%}
                  </span>

                  <div class="order-product__button">
                    {% assign reorder_product_url = "" %}
                    {% capture reorder_product_url %}{{ reorder_product_url | append: line_item.variant_id | append: ':' | append: line_item.quantity }}{% endcapture %}

                    <a href="{{ '/cart/' | append: reorder_product_url }}" class="button-primary tiny">
                      {{ 'customers.order.order_product_again' | t }}
                    </a>
                  </div>
                </div>
              </td>
              <td class="order-item-quantity">
                {{ line_item.quantity }}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>
      <div class="order-footer">
        {% assign reorder_order_url = "" %}
        {% for line_item in order.line_items %}
          {% capture reorder_order_url %}{{ reorder_order_url | append: line_item.variant_id | append: ':' | append: line_item.quantity | append: ',' }}{% endcapture %}
        {% endfor %}

        <a href="{{ '/cart/' | append: reorder_order_url }}" class="button-primary tiny">
          {{ 'customers.order.order_again' | t }}
        </a>
      </div>
      {% comment %}
        <div class="order-footer">
          {% for discount in order.discounts %}
            <div class="order-footer-item">
              <span class="order-footer-label">
              </span>
                {{ 'customers.order.discount' | t: code: discount.code }}
              </span>
              <span class="order-footer-value">
                <span class="money">
                  {{ discount.savings | money }}
                </span>
              </span>
            </div>
          {% endfor %}

          <div class="order-footer-item">
            <span class="order-footer-label">
              {{ 'customers.order.subtotal' | t }}
            </span>
            <span class="order-footer-value">
              <span class="money">
                {{ order.subtotal_price | money }}
              </span>
            </span>
          </div>

          {% for shipping_method in order.shipping_methods %}
            <div class="order-footer-item">
              <span class="order-footer-label">
                {{ 'customers.order.shipping' | t: shipping_method: shipping_method.title }}
              </span>
              <span class="order-footer-value">
                <span class="money">
                  {{ shipping_method.price | money }}
                </span>
              </span>
            </div>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <div class="order-footer-item">
              <span class="order-footer-label">
                {% assign tax_rate = tax_line.rate | times: 100 %}
                {{ 'customers.order.tax' | t: title: tax_line.title, rate: tax_rate }}
              </span>
              <span class="order-footer-value">
                <span class="money">
                  {{ tax_line.price | money }}
                </span>
              </span>
            </div>
          {% endfor %}

          <div class="order-footer-item">
            <span class="order-footer-label">
              {{ 'customers.order.total' | t }}
            </span>
            <span class="order-footer-value">
              <span class="money">
                {{ order.total_price | money }}
              </span>
            </span>
          </div>
        </div>
      {% if order.note %}
        <h2 class="account-page-subtitle">
          {{ 'customers.order.order_notes' | t }}
        </h2>

        <div class="account-order-note">
          <p>{{ order.note }}</p>
        </div>
      {% endif %}

      {% if order.attributes.size > 0 %}
        <h2 class="account-page-subtitle">
          {{ 'customers.order.additional_notes' | t }}
        </h2>

        <ul class="account-order-attributes">
          {% for attribute in order.attributes %}
            <li>
              <span class="account-order-attribute-title">
                {{ attribute | first }}:
              </span>
              <span class="account-order-attribute-content">
                {{ attribute | last }}
              </span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endcomment %}
    </div>

    {% comment %}
      Billing & Shipping information
    {% endcomment %}
    <div class="account-page--column-small">
      {% if order.shipping_address %}
        <h2 class="account-page-subtitle">
          {{ 'customers.order.shipping_address' | t }}
        </h2>
        {%
          include 'account-address-list',
          address: order.shipping_address
        %}
      {% endif %}

      <h2 class="account-page-subtitle">
        {{ 'customers.order.billing_address' | t }}
      </h2>
      {%
        include 'account-address-list',
        address: order.billing_address
      %}
    </div>
  </article>
</section>
