<section class="account-page account-page-register" data-template-account>
  <header class="account-page-masthead">
    <h1 class="account-page-title">
      {{ 'customers.register.title' | t}}
    </h1>
  </header>

  <article class="account-page-content">
    {% form 'create_customer' %}
      <div class="account-message form-message message--error vat--error visually-hidden">
        <div class="errors">
          <ul>
            <li>{{ 'customers.forms.vat_number_error' | t }}</li>
          </ul>
        </div>
      </div>

      {% assign has_message = false %}

      {% if form.errors != blank %}
        {% assign has_message = true %}
        {% assign message_type = 'error' %}
      {% endif %}

      {% if form.posted_successfully? %}
        {% assign has_message = true %}
        {% assign message_type = 'success' %}
      {% endif %}

      {% if has_message %}
        <div class="account-message form-message message--{{ message_type }}">
          {% case message_type %}
            {% when 'success' %}
              <p>
                {{ 'customers.register.success' | t }}
              </p>
            {% when 'error' %}
              {{ form.errors | default_errors }}
          {% endcase %}
        </div>
      {% endif %}

      <div class="form-fields-columns">
        <div class="form-field form-field--half">
          <input
            type="text"
            class="form-field-input form-field-text"
            id="register_first_name"
            name="customer[first_name]"
            autocapitalize="words"
            autofocus
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

          <label
            class="form-field-title"
            for="register_first_name">
            {{ 'customers.forms.first_name' | t }}
          </label>
        </div>

        <div class="form-field form-field--half">
          <input
            type="text"
            class="form-field-input form-field-text"
            id="register_last_name"
            name="customer[last_name]"
            autocapitalize="words"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

          <label
            class="form-field-title"
            for="register_last_name">
            {{ 'customers.forms.last_name' | t }}
          </label>
        </div>

        <!-- Shopify Customer Registration -- Capture VAT numbers from customers. -->
        <div class="form-field form-field--half">
          <input
            type="text"
            class="form-field-input form-field-text form__vat"
            id="register_vat_number"
            name="customer[note][vat_number]"
            autocapitalize="words">
          <label
            class="form-field-title"
            for="register_vat_number">
            {{ 'customers.forms.vat_number' | t }}
          </label>
        </div>

        <div class="form-field form-field--half">
          <input
            type="text"
            class="form-field-input form-field-text"
            id="register_company"
            name="customer[note][company]"
            autocapitalize="words">

          <label
            class="form-field-title"
            for="register_company">
            {{ 'customers.forms.company' | t }}
          </label>
        </div>

        <input type="hidden" id="customer_tags" name="customer[tags]" value="b2b"/>

        <div class="form-field form-field--half">
          <input
            type="text"
            class="form-field-input form-field-text {% if form.errors contains 'email' %}form-field-error{% endif %}"
            id="register_email"
            name="customer[email]"
            autocorrect="off"
            autocapitalize="off"
            {% if form.email %}value="{{ form.email }}"{% endif %}>

          <label
            class="form-field-title"
            for="register_email">
            {{ 'customers.forms.email' | t }}
          </label>
        </div>

        <div class="form-field form-field--half">
          <input
            type="password"
            class="form-field-input form-field-text {% if form.errors contains 'password' %}form-field-error{% endif %}"
            id="register_password"
            name="customer[password]">

          <label
            class="form-field-title"
            for="register_password">
            {{ 'customers.forms.password' | t }}
          </label>
        </div>
      </div>

      <input type="hidden" id="customer_tags" name="customer[tags]" value="b2b"/>

      <div class="form-action-row">
        <button class="Form__Submit button-primary form-action--submit" type="submit">
          {{ 'customers.register.submit' | t }}
        </button>

        <div class="form-action-row--helper">
          <span class="form-action-row--helper-item">
            {{ 'customers.register.returning_customer' | t }}
            {{ 'customers.login.sign_in' | t | customer_login_link }}
          </span>
        </div>
      </div>

    {% endform %}
  </article>
</section>


<script>

  jQuery('.Form__Submit').on('click', function(e) {
      jQuery('.form__vat').removeClass('error');
      var vatNumber = checkVATNumber(jQuery('.form__vat').val());
      
      if(jQuery('.form__vat').val().length <= 0) {
        $('#customer_tags').val("");
        $('.form__vat').attr("name", "");
      } else if(vatNumber !== false ) {
        $('.form__vat').val(vatNumber);
        $('.form__vat').attr("name", "customer[note][VAT Registration Number]");
        $('#customer_tags').val("b2b");
      } else if(jQuery('.form__vat').val().length > 0 && vatNumber == false) {
        e.preventDefault();
        jQuery('.form__vat').addClass('error');
        jQuery('.form__vat').parent().find('.error-message').show();
      }
  });

</script>