<header class="site-header">
  <div class="site-header__inner constrict">
    <a href="/" class="logo">{% include 'twig/modules/svg/logo.html' %}</a>
    {% include 'twig/modules/nav/navigation-primary.html' %}
  </div>
</header>
