{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}

{% if shop.url contains 'skinnylove-shop.myshopify.com' %}
  {% assign shop_version = 'be' %}
{% elsif shop.url contains 'skinnylove-nl.myshopify.com' %}
  {% assign shop_version = 'nl' %}
{% endif %}

<!doctype html>
<html class="no-js no-touch" lang="{{ shop.locale }}">
  <head>
    {% if shop_version == 'be' %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5TXNFQ6');</script>
      <!-- End Google Tag Manager -->
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if settings.preconnect_facebook %}
      <link rel="preconnect" href="https://connect.facebook.net" crossorigin>
    {% endif %}
    {% if settings.preconnect_google %}
      <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
    {% endif %}

    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- include 'advanced-tag-loop' -%}
        {% assign title_tags = '' %}
        {% assign meta_tags = current_tags | join: ', ' %}
        {%- for tag in current_tags -%}
          {% assign is_advanced_tag = false %}
          {% assign cat = tag | split: '_' | first %}

          {%- unless cat == tag -%}
            {%- if cat_array contains cat -%}
              {% assign is_advanced_tag = true %}
              {% assign title_tags = title_tags | append: ', ' | append: tag | replace_first: '_', ': ' %}
            {%- endif -%}
          {%- endunless -%}

          {%- unless is_advanced_tag -%}
            {% assign title_tags = title_tags | append: ', ' | append: tag %}
          {%- endunless -%}
        {%- endfor -%}
        {{ 'general.title.tags' | t: tags: title_tags | remove_first: ', ' }}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'favicon' %}

    {% if template contains 'collection' and current_tags %}
      <meta name="robots" content="noindex" />
      <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
    {% else %}
      <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}

    <meta name="viewport" content="width=device-width">

    {% assign twitter_handle = settings.social_twitter | split: 'twitter.com/' | last %}
    {%
      include 'social-meta-tags',
      twitter_handle: twitter_handle
    %}

    {% assign preload_styles = settings.preload_styles %}

    <link rel="preload" href="{{ settings.type_menu | font_url }}" as="font" crossorigin="anonymous">

    {% if preload_styles == 'await_critical_styles' %}
      <link rel="preload" as="style" href="{{ 'theme-critical.css' | asset_url }}">
    {% else %}
      <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    {% endif %}

    {{ content_for_header }}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

    <script src="{{ 'api.js' | asset_url }}"></script>
    {{ 'https://code.jquery.com/jquery-latest.min.js' | script_tag }}
    <script src="{{ 'jsvat.js' | asset_url }}" async></script>

    {% if preload_styles == 'await_all_styles' %}
      <link href="{{ 'theme.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />
    {% elsif preload_styles == 'await_critical_styles' %}
      <link href="{{ 'theme-critical.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" data-styles-above-fold />
      <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    {% endif %}

    <link href="{{ 'style.css' | asset_url }}" rel="stylesheet" type="text/css" media="all" />

    {% include 'icon-label-badges' %}

    {% if settings.custom_scripts_head != blank %}
      {% unless settings.custom_scripts_head contains '<script' %}<script>{% endunless %}
        {{ settings.custom_scripts_head }}
      {% unless settings.custom_scripts_head contains '<script' %}</script>{% endunless %}
    {% endif %}

    {% comment %}theme-object{% endcomment %}
    <script>
      window.Theme = window.Theme || {};
      window.Theme.routes = {
        "root_url": "{{ routes.root_url }}",
        "account_url": "{{ routes.account_url }}",
        "account_login_url": "{{ routes.account_login_url }}",
        "account_logout_url": "{{ routes.account_logout_url }}",
        "account_register_url": "{{ routes.account_register_url }}",
        "account_addresses_url": "{{ routes.account_addresses_url }}",
        "collections_url": "{{ routes.collections_url }}",
        "all_products_collection_url": "{{ routes.all_products_collection_url }}",
        "search_url": "{{ routes.search_url }}",
        "cart_url": "{{ routes.cart_url }}",
        "cart_add_url": "{{ routes.cart_add_url }}",
        "cart_change_url": "{{ routes.cart_change_url }}",
        "cart_clear_url": "{{ routes.cart_clear_url }}",
        "product_recommendations_url": "{{ routes.product_recommendations_url }}",
      };
    </script>
  <script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}

{% render 'pagefly-header' %}


  {% render 'shogun-head' %}

  <!-- Zapiet | Store Pickup + Delivery -->
  {% if request.page_type == "cart" %}
    {% include 'storepickup' %}
  {% endif %}
  <!-- Zapiet | Store Pickup + Delivery -->
</head>

  <body
    {% unless settings.lazy_load %}
      data-lazy-loading-disabled
    {% endunless %}
    class="template-{{ template.name }} template-{{ template.name }}-{{ template.suffix }} {{ shop_version }}"
    {% if settings.enable_instantpage == true %}
      data-instant-allow-query-string
    {% endif %}
  >


  {% assign shopLocale = request.path | slice: 1,2 %}
  {% if shopLocale == 'nl' %}

  {% else %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TXNFQ6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

    <a class="skip-to-main" href="#site-main">{{ 'general.accessibility.skip_to_content' | t }}</a>
    {% section 'static-announcement' %}
    {% section 'static-utility-bar' %}

    {% case settings.header_layout %}
      {% when 'minimal' %}
        {% section 'static-minimal-header' %}
      {% when 'basic' %}
        {% section 'static-basic-header' %}
      {% else %}
        {% section 'static-header' %}
    {% endcase %}

    {% comment %}
      This intersection-target is for the traditional header.
      It needs to sit outside of the sticky header, so it knows when to collapse
    {% endcomment %}
    {% if settings.header_layout == 'traditional' %}
      <div class="intersection-target"></div>
    {% endif %}

    <main id="site-main" class="site-main" aria-label="Main content" tabindex="-1">
      {% if template == 'index' %}
        {% section 'static-slideshow' %}
      {% endif %}

      {{ content_for_layout }}
    </main>

    {% section 'static-instafeed' %}
    {% section 'static-footer-claims' %}
    {% section 'static-footer' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}

    {% comment %}
      This is the PhotoSwipe dialog for product galleries which needs to be in the base page
    {% endcomment %}
    {% include 'product-gallery-zoom' %}

    {% if preload_styles != 'await_all_styles' %}
      {{ 'theme.css' | asset_url | stylesheet_tag }}

      {% if preload_styles == 'await_critical_styles' %}
        <script>
          (function(){
            // remove above the fold styles to make sure there are no style conflicts
            var aboveFoldStyles = document.querySelector('[data-styles-above-fold]');
            aboveFoldStyles.parentNode.removeChild(aboveFoldStyles);
          })();
        </script>
      {% endif %}
    {% endif %}

    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    {% assign theme_script = 'superstore.js' %}
    {% comment %} {% if settings.use_minified_js %}
      {% assign theme_script = 'superstore.min.js' %}
    {% endif %} {% endcomment %}

    <script
      src="{{ theme_script | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
      data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}"
      data-pxu-polyfills="{{ 'polyfills.js' | asset_url }}"
    >
    </script>

    {% if settings.custom_styles != blank %}
      {% unless settings.custom_styles contains '<style' %}<style>{% endunless %}
        {{ settings.custom_styles }}
      {% unless settings.custom_styles contains '<style' %}</style>{% endunless %}
    {% endif %}

    {% if settings.custom_scripts_footer != blank %}
      {% unless settings.custom_scripts_footer contains '<script' %}<script>{% endunless %}
        {{ settings.custom_scripts_footer }}
      {% unless settings.custom_scripts_footer contains '<script' %}</script>{% endunless %}
    {% endif %}

    {% include 'structured-data' %}

    <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
    </script>

    {% include 'api' with 'page:body' %}
    {{ page_body }}

    {% if settings.enable_instantpage == true %}
      <script
        src="{{ 'instantPage.min.js' | asset_url }}"
        type="module"
        defer
      >
      </script>
    {% endif %}


    {% comment %} <script src="{{ 'jsvat.js' | asset_url }}" async></script> {% endcomment %}
    <script src="{{ 'vendor.bundle.js' | asset_url }}"></script>
    <script src="{{ 'app.bundle.js' | asset_url }}"></script>

    <script data-cfasync="false" data-no-instant>
      window.saso_config = {
        product_title_max_length: 40,
        crosssell_never_show_popup: false,
        show_upsell_only_in: "product, cart",
        hide_shown_upsells_for: 15, //minutes
        hide_closed_notifications_for: 10, //minutes
        upsell_variant_choose_option: "please select",
        upsell_variant_choose_message: "Please select an option",
        translate_percent_off: '{{ 'product.general.offer_discount_txt' | t }}'
      }
    </script>

    {% render 'special-offers' %}

    {% render 'bookthatapp-widgets' %}


    <!-- Begin ReCharge code -->
      {% include 'subscription-theme-footer' %}
    <!-- End ReCharge code -->

    <script type="text/javascript">
      window.Trengo = window.Trengo || {};
      window.Trengo.key = 'VQkAkmlm1VWpttA';
      (function(d, script, t) {
          script = d.createElement('script');
          script.type = 'text/javascript';
          script.async = true;
          script.src = 'https://static.widget.trengo.eu/embed.js';
          d.getElementsByTagName('head')[0].appendChild(script);
      }(document));
    </script>

{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts' content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}</body>
</html>
