{% if section.settings.footer_claims_content != blank %}
  <section class="o-footer-claims">
    <div class="o-footer-claims__inner constrict">
      {{ section.settings.footer_claims_content }}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Footer Claims",
  "settings": [
      {
      "type": "header",
      "content": "Footer claims"
      },
      {
          "type": "richtext",
          "id": "footer_claims_content",
          "label": "Footer claims"
      }
  ]
}
{% endschema %}
