{% unless section.settings.instafeed_disable %}
    <section class="static-instafeed">
        {% if section.settings.instafeed_title != blank %}
        <div class="home-section--title-container">
            <h2 class="home-section--title">
                {{ section.settings.instafeed_title }}
            </h2>
        </div>
        {% endif %}
        <div id="insta-feed"></div>
    </section>
{% endunless %}

{%schema%}
{
    "name": "Instafeed",
    "settings": [
        {
            "type": "checkbox",
            "label": "Disable instafeed",
            "id": "instafeed_disable",
            "default": false
        },
        {
            "type": "text",
            "label":"Title",
            "id":"instafeed_title"
        }
    ]
}
{%endschema%}