{% assign is_customer = false %}
{% if shop.customer_accounts_enabled and customer %}
  {% assign is_customer = true %}
{% endif %}

{% assign has_sidebar = false %}
{% assign has_items = false %}
{% assign show_continue_link = false %}

{% if section.blocks.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}

{% if cart.items.size > 0 %}
  {% assign has_items = true %}
{% endif %}

{% assign continue_url = "/collections/all" %}
{% if settings.continue_shopping_url != blank %}
  {% assign continue_url = settings.continue_shopping_url %}
{% endif %}

{% if settings.continue_url_cart %}
  {% assign show_continue_link = true %}
  {%- capture continue_link_html -%}
    <a class="cart-continue" href="{{ continue_url }}">
      {{ 'cart.general.continue_shopping' | t }}
      {% include 'icon-library', id: 'icon-chevron-down-small' %}
    </a>
  {%- endcapture -%}
{% endif %}

<script
  type="application/json"
  data-section-type="static-cart"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "cart": {{ cart | json }},
    "settings": {
      "shipping": {{ section.settings.enable_shipping_calc | json }},
      "stock_limit": {{ 'cart.general.stock_limit' | t: quantity: '** quantity **', title: '** title **' | json }},
      "money_format": {{ shop.money_format | strip_html | json }}
    },
    "shipping": {
      "calculate_shipping": {{ 'cart.shipping.calculate_shipping' | t | json }},
      "calculating": {{ 'cart.shipping.calculating' | t | json }},
      "customer": {{ is_customer | default: false | json }},
      "multiple_rates": {{ 'cart.shipping.multiple_rates' | t: number_of_rates: '*number_of_rates*', address: '*address*', rate: '*rate*' | json }},
      "one_rate": {{ 'cart.shipping.one_rate' | t: address: '*address*' | json }},
      "no_rates": {{ 'cart.shipping.no_rates' | t | json }},
      "rate_value": {{ 'cart.shipping.rate_value' | t: rate_title: '*rate_title*', rate: '*rate*'  | json }},
      "zip": {{ 'cart.shipping.zip' | t | json }},
      "shipment_too_heavy": {{ 'cart.shipping.shipment_too_heavy' | t | json }},
      "error_general": {{ 'cart.shipping.error_general' | t | json }}
    }
  }
</script>

<form
  class="cart {% if has_sidebar %}has-sidebar{% endif %}"
  action="{{ routes.cart_url }}"
  method="post"
  aria-label="cart checkout"
  data-cart-form
>
  <header class="cart-title">
    <div class="cart-title-left">
      <h1>{{ 'cart.general.your_cart' | t }}</h1>

      {% if has_items %}
        <div class="cart-title-total--small"></div>
      {% endif %}
    </div>

    {% if has_items or show_continue_link %}
      <div class="cart-title-right">
        {% if has_items %}
          <div class="cart-title-total--large">
            
    <div class="cart-title-total" data-cart-title-total>
      {{ 'cart.general.subtotal' | t }}

      <span class="saso-cart-original-total money">
        <span class="money" data-cart-total="{{ cart.total_price }}">
                {{ cart.total_price | money }}
              </span>
      </span>
      <span class="saso-cart-total money"></span>
    </div>
    
          </div>

          <button
            class="button-primary cart-title-button"
            name="checkout"
            type="submit"
            aria-label="{{ 'cart.general.checkout' | t }}"
          >
            {% if settings.enable_checkout_lock_icon %}
              {% include 'icon-library', id: 'icon-checkout-lock' %}
            {% else %}
              {% include 'icon-library', id: 'icon-cart' %}
            {% endif %}
            {{ 'cart.general.checkout' | t }}
          </button>
        {% elsif show_continue_link %}
          {{ continue_link_html }}
        {% endif %}
      </div>
    {% endif %}
  </header>

  <section
    class="cartitems--container {% if has_sidebar %}has-sidebar{% endif %}">
    <div class="cartitems">
      <ul
        class="
          cartitems--list
          {% if settings.enable_product_card_spacing == false %}cartitems--no-spacing{% endif %}
        "
      >
      {% if has_items %}
        {% for item in cart.items %}
          {%
            include 'cart-item',
            item: item
          %}
        {% endfor %}
        </ul>
        <div class="cart-total" data-cart-totals>
          {% if section.settings.enable_order_notes %}
            <div class="cart-ordernote">
              <span class="cart-ordernote-heading">{{ 'cart.general.enter_order_note' | t }}</span>
              <div class="form-field">
                <textarea class="form-field-input form-field-textarea" name="note" id="cart-note">{{ cart.note }}</textarea>
                <label class="form-field-title" for="cart-note">{{ 'cart.general.special_instructions' | t }}</label>
              </div>
            </div>
          {% endif %}

          
    <div class="cart-subtotal">
      <span aria-live="polite">{{ 'cart.general.subtotal' | t }}</span>
      <span class="saso-cart-original-total money">
        <span class="money" aria-live="polite" data-cart-total>{{ cart.total_price | money }}</span>
      </span>
      <span class="saso-cart-total money"></span>
    </div>
    <div class="saso-summary"></div>
    
        </div>

        <div class="rte cart-notifications" data-cart-notifications></div>
        <div class="rte cart-tools" data-cart-tools></div>

        <div class="cart-shipping">
          {% if cart.requires_shipping %}
            {{ 'cart.general.shipping_at_checkout' | t }}
          {% else %}
            {{ 'cart.general.taxes_at_checkout' | t }}
          {% endif %}

          {% comment %}
            snippets/cart-shipping.liquid has an internal check to see if shipping is required
          {% endcomment %}
          {% if section.settings.enable_shipping_calc %}
            {% include 'cart-shipping' %}
          {% endif %}
        </div>

        <div class="cart-checkout">
<!-- Zapiet | Store Pickup + Delivery -->
<div id="storePickupApp"></div>
<!-- Zapiet | Store Pickup + Delivery -->
          <button
            class="button-primary"
            type="submit"
            name="checkout"
            aria-label="{{ 'cart.general.checkout' | t }}"
          >
            {% if settings.enable_checkout_lock_icon %}
              {% include 'icon-library', id: 'icon-checkout-lock' %}
            {% else %}
              {% include 'icon-library', id: 'icon-cart' %}
            {% endif %}
            {{ 'cart.general.checkout' | t }}
          </button>

          {% if additional_checkout_buttons %}
          <span class="additional-checkout-buttons">
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          </span>
          {% endif %}

          {% if show_continue_link %}
            {{ continue_link_html }}
          {% endif %}
        </div>
      {% else %}
        <div class="cartitems-empty">
          <div class="cartitems-empty--inner">
            <p>{{ 'cart.general.cart_empty' | t }}</p>

            {% if show_continue_link %}
              <a class="button-primary" href="{{ continue_url }}">
                {% include 'icon-library', id: 'icon-cart' %}
                {{ 'cart.general.continue_shopping' | t }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>

    {% if has_sidebar %}
      <div class="cart-sidebar">
        {% for block in section.blocks %}
          {% if block.type == 'image' %}
            {% assign image = block.settings.image %}

            <article class="cart-sidebar-item">
              {% if image %}
                {%
                  include 'rimg',
                  img: image,
                  class: 'cart-sidebar-item-image',
                  size: '445x',
                  lazy: settings.lazy_load,
                  canvas: settings.lazy_load
                %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder--image cart-sidebar-item-image' }}
              {% endif %}
            </article>
          {% endif %}

          {% if block.type == 'richtext' %}
            <article class="cart-sidebar-item cart-sidebar-item--text rte">
              {{ block.settings.richtext }}
            </article>
          {% endif %}

          {% if block.type == 'page' %}
            <article class="cart-sidebar-item cart-sidebar-item--text rte">
              {{ pages[block.settings.page].content }}
            </article>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </section>
</form>

{% schema %}
{
  "name": "Cart page",
  "class": "cart--section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_order_notes",
      "label": "Enable order notes text box",
      "default": false
    },
    {
      "type": "header",
      "content": "Shipping estimator"
    },
    {
      "type": "checkbox",
      "id": "enable_shipping_calc",
      "label": "Enable shipping estimator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_calc_default_country",
      "label": "Default country",
      "default": "United States"
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 1,
      "settings": [
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Rich text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "id": "page",
          "type": "page",
          "label": "Choose page"
        }
      ]
    }
  ]
}

{% endschema %}