<script
    type="application/json"
    data-section-type="static-banner"
    data-section-id="{{ section.id }}">
</script>

{% unless section.settings.banner_disable  %}

<section class="static-banner">
    <div class="static-banner__inner rich-text--container rich-text-full-width">
        <div class="static-banner__image">
            {% if section.settings.banner_image != blank %}
                {%
                    include 'rimg',
                    img: section.settings.banner_image,
                    size: '500x500',
                    lazy: settings.lazy_load,
                    background: false
                %}
            {% endif %}
        </div>
        <div class="static-banner__content">
            {% if section.settings.banner_title != blank %}
                <h3>{{ section.settings.banner_title }}</h3>
            {% endif %}
            {% if section.settings.banner_text != blank %}
                <div class="rte">
                    {{ section.settings.banner_text }}
                </div>
            {% endif %}
            {% if section.settings.banner_cta_text != blank %}
                <a href="{{ section.settings.banner_cta_link }}" class="slideshow-button button-primary">{{ section.settings.banner_cta_text }}</a>
            {% endif %}
        </div>
    </div>
</section>

{% endunless %}


{% schema %}
{
    "name": "Banner",
    "class": "banner--section",
    "settings": [
        {
            "type": "checkbox",
            "id": "banner_disable",
            "label": "Disable banner",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "banner_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "banner_text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "banner_cta_text",
            "label": "CTA Text"
        },
        {
            "type": "url",
            "id": "banner_cta_link",
            "label": "CTA Link"
        }
    ]
}
{% endschema %}