{% assign using_linklist = false %}
{% assign pagination = 12 %}
{% assign linklist = 'all-collections' %}

{% if linklists[linklist] and linklists[linklist].links.size > 0 %}
  {% assign using_linklist = true %}
  {% assign pagination = 48 %}
{% endif %}

{%- if section.settings.show_breadcrumbs -%}
  {% include 'breadcrumbs' %}
{%- endif -%}

<h1 class="visually-hidden">{{ 'general.breadcrumbs.collections' | t }}</h1>
{% paginate collections by pagination %}
  <div class="
    listcollections--container
    {% unless section.settings.show_breadcrumbs %}no-breadcrumbs{% endunless %}
  ">
    {% if section.settings.promotional_banner_image != blank %}
      <div class="collection-promotional-banner">
        <figure class="collection-promotional-banner__image">
          {% if section.settings.promotional_banner_url != blank %}
            <a href="{{ section.settings.promotional_banner_url }}">
          {% endif %}
            {%
              include 'rimg',
              img: section.settings.promotional_banner_image,
              lazy: settings.lazy_load
            %}
          {% if section.settings.promotional_banner_url != blank %}
            </a>
          {% endif %}
        </figure>
      </div>
    {% endif %}
    <ul class="listcollections--inner">
      {% if using_linklist %}
        {% for link in linklists[linklist].links %}
          {% assign link_handle = link.handle %}
          {% assign collection = collections[link_handle] %}
          {% include 'collection-list-item' %}
        {% endfor %}
      {% else %}
        {% for collection in collections %}
          {% include 'collection-list-item' %}
        {% endfor %}
      {% endif %}
    </div>
  </ul>

  {% include 'pagination' %}
{% endpaginate %}

{% schema %}
{
  "name": "Collections",
  "class": "listcollections--section",
  "settings": [
    {
      "type": "header",
      "content": "Promotional banner"
    },
    {
      "type": "paragraph",
      "content": "This promotional banner will be displayed on all the collection pages"
    },
    {
      "type": "image_picker",
      "id": "promotional_banner_image",
      "label": "Promotional banner image"
    },
    {
      "type": "url",
      "id": "promotional_banner_url",
      "label": "Promotional banner url"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumbs",
      "label": "Show breadcrumb navigation",
      "default": true
    }
  ]
}

{% endschema %}