<style>
  .m-product-icon-badge.icon-slimming {
    background-image: url("{{'skl-icon_afslankend.png' | asset_url }}");
  }
  .m-product-icon-badge.icon-hunger-satisfying {
    background-image: url("{{'skl-icon-hongerstillend2.png' | asset_url }}");
  }
  .m-product-icon-badge.icon-skinnylove-proof {
    background-image: url("{{'skl-icon_SLproof.png' | asset_url }}");
  }
  .m-product-icon-badge.icon-bio {
    background-image: url("{{'skl-icon-bio.png' | asset_url }}");
  }
  .m-product-icon-badge.icon-gluten-free {
    background-image: url("{{'skl-icon-glutenvrij.png' | asset_url }}");
  }
  .m-product-icon-badge.icon-vegan {
    background-image: url("{{'skl-icon-vegan.png' | asset_url }}");
  }
</style>
