{% assign formId = 'localization-' | append: id %}
{% assign langListId = 'lang-list-' | append: id %}

{% assign capitalizeId = id | capitalize %}
{% assign selectorId = 'LocaleSelector' | append: capitalizeId %}

{% form 'localization', id: formId, class: 'm-localization-header shopify-localization-form' %}
    {% if form.available_locales.size > 1 %}
        {% comment %}multi-language{% endcomment %}
        <div class="selectors-form__item">
        <div class="disclosure" data-disclosure-locale>
            <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="lang-list" aria-describedby="lang-heading" data-disclosure-toggle>
            {% if form.current_locale.endonym_name == 'Flemish' %}
                Vlaams
            {% else %}
                {{ form.current_locale.endonym_name }}
            {% endif %}
            </button>
            <ul id="{{langListId}}" class="disclosure-list" data-disclosure-list>
            {% for locale in form.available_locales %}
                <li>
                <a class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                    <span class="disclosure-list__option">
                    {% if locale.endonym_name == 'Flemish' %}
                        Vlaams
                    {% else %}
                        {{ locale.endonym_name }}
                    {% endif %}
                    </span>
                </a>
                </li>
            {%- endfor -%}
              <li>
                <a class="disclosure-list__item" href="https://skinnylove.fr/" lang="fr" aria-current="false">
                  <span class="disclosure-list__option">
                    Fran&ccedil;ais
                  </span>
                </a>
              </li>
            </ul>
            <input type="hidden" name="locale_code" id="{{selectorId}}" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
        </div>
        </div>
    {% endif %}
{% endform %}
