{% comment %}
  @param class_root {String}
    Base class root

  @param product_available {Bool}

  @param on_sale {Bool}
    If a product, or one of it's variants is on sale

  @param show_saved {Bool}
    Show amount saved if is consistent across variants

  @param price {Number}
    product.price

  @param compare_at_price {Number}
    product.compare_at_price
{% endcomment %}

<div class="{{ class_root }}--badge p-badge">
  {%- if product_available != true -%}
    <span class="badge--soldout badge">
      {{ 'product.item.badges.sold_out' | t }}
    </span>
  {%- elsif settings.product_sales_badge -%}
    {% assign sales_saved = compare_at_price | minus: price %}

    {%- capture saved_price -%}
      <span class="money" data-price-money-saved>{{ sales_saved | money }}</span>
    {%- endcapture -%}

    {%- capture percent_saved -%}
      <span data-price-percent-saved>{{ sales_saved | times: 100.0 | divided_by: compare_at_price | round }}</span>
    {%- endcapture -%}

    <span class="badge--sale badge"
      data-badge-sales
      {% if on_sale != true %}style="display: none;"{% endif %}
    >
      {% if settings.product_sales_badge_style == 'percentile' and show_saved %}
        {{ 'product.item.badges.sale_percentile_html' | t: saved: percent_saved | strip_newlines }}
      {% elsif settings.product_sales_badge_style == 'money' and show_saved %}
        {{ 'product.item.badges.sale_money_html' | t: saved: saved_price | strip_newlines }}
      {% else %}
        {{ 'product.item.badges.sale' | t }}
      {% endif %}
    </span>
  {%- endif -%}
  {% for tag in product.tags %}
    {% if tag contains 'label:'  %}
      <span class="badge--label badge">{{ tag | split: 'label:' | last }}</span>
    {% endif %}
  {% endfor %}
</div>


