{% if product.metafields.tabs.tab_title_1 != blank and product.metafields.tabs.tab_content_1 != blank %}

<div class="o-product-tabs product-section--container" id="o-product-tabs">
  <div class="o-product-tabs__inner">
    <div class="o-product-tabs__menu">

      {% for i in (1..10) %}
        {% assign keyTitle = 'tab_title_' | append:i %}
        {% assign metafieldTitle = product.metafields.tabs[keyTitle] %}

        {% if metafieldTitle != blank %}
          <div class="m-tab-title js-tab-toggle {% if forloop.first %}active{% endif %}" data-target="#tab-{{i}}">{{ metafieldTitle }}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="o-product-tabs__content rte">
      {% for i in (1..10) %}
        {% assign keyTitle = 'tab_title_' | append:i %}
        {% assign metafieldTitle = product.metafields.tabs[keyTitle] %}

        {% assign keyContent = 'tab_content_' | append:i %}
        {% assign metafieldContent = product.metafields.tabs[keyContent] %}

        {% if metafieldTitle != blank %}
          <div class="m-tab-title js-tab-flyout {% if forloop.first %}active{% endif %}" data-target="#tab-{{i}}">{{ metafieldTitle }}</div>
        {% endif %}

        {% if metafieldContent != blank %}
          <div class="m-tab-content {% if forloop.first %}active{% endif %}" id="tab-{{i}}">
            {{ metafieldContent }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endif %}
