<div class="m-product-icon-badges">
  {% for tag in product.tags %}
    {% case tag %}
      {% when "Werking_Afslankend" %}
        <div class="m-product-icon-badge icon-slimming"></div>
      {% when "Werking_Hongerstillend" %}
        <div class="m-product-icon-badge icon-hunger-satisfying"></div>
      {% when "Werking_SkinnyLove proof" %}
        <div class="m-product-icon-badge icon-skinnylove-proof"></div>
      {% when "Certificaten_Bio" %}
        <div class="m-product-icon-badge icon-bio"></div>
      {% when "Certificaten_Glutenvrij" %}
        <div class="m-product-icon-badge icon-gluten-free"></div>
      {% when "Certificaten_Vegan" %}
        <div class="m-product-icon-badge icon-vegan"></div>
    {% endcase %}
  {% endfor %}
</div>
