{% comment %}
  @param class_root {String}
    Base class root

  @param price {Number}
    product.price

  @param price_varies {Bool}
    product.price_varies

  @param compare_at_price {Number}
    product.compare_at_price

  @param compare_at_price_varies {Bool}
    Displays a range price is a product's variants have differing prices

  @param on_sale {Bool}
    If a product, or one of it's variants is on sale

  @param emphasize_price {Bool}
    Used in product grid item to add placeholder space

  @param show_original {Bool}
    Show original price if is consistent across all variants
{% endcomment %}

{% assign percentage = false %}
{% assign price_updated = false %}

{% for tag in product.tags %}
  {% if tag contains 'Korting_' %}
    {% assign percentage = tag | split: '_' | last %}
    {% break %}
  {% endif %}
{% endfor %}

{% if percentage %}
  {% assign price_updated = price | divided_by: 100.00 | times: percentage %}
  {% assign price_updated = price | minus: price_updated %}
{% endif %}

<div class="{{ class_root }}--price {% if compare_at_price_varies %}price--varies{% endif %}">
  <div
    class="price--compare-at {% if price_updated or emphasize_price or on_sale and show_original %}visible{% endif %}"
    data-price-compare-at
  >
    {%- capture price_html -%}
      <span class="visually-hidden">{{ 'product.item.price.original' | t }}</span>
      <span class="money">
        {{ compare_at_price | money }}
      </span>
    {%- endcapture -%}

    {% unless price_updated %}
      {% if compare_at_price_varies and on_sale and show_original %}
        {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
      {% elsif on_sale and show_original %}
        {{ price_html }}
      {% elsif emphasize_price %}
        <span class="price--spacer"></span>
      {% elsif show_original %}
        <span class="money"></span>
      {% endif %}
    {% endunless %}

    {% if price_updated %}
      <span class="money">{{ price | money }}</span>
    {% endif %}
  </div>

  <div class="price--main" data-price>
    {%- capture price_html -%}
      {% if price_updated %}
        <span class="money">
          {{ price_updated | money }}
        </span>
      {% else %}
        <span class="money">
          {{ price | money }}
        </span>
      {% endif %}
    {%- endcapture -%}

    {% if price_varies %}
      {{ 'product.item.price.range_html' | t: price: price_html | strip_newlines }}
    {% else %}
      {% if on_sale and show_original %}
        <span class="visually-hidden">{{ 'product.item.price.current' | t }}</span>
      {% endif %}
      {{ price_html }}
    {% endif %}
  </div>

  {% assign variant = product.selected_or_first_available_variant %}
  {%- capture total_quantity -%}
    <span class="product__total-quantity" data-total-quantity>{{ variant.unit_price_measurement.quantity_value }}{{ variant.unit_price_measurement.quantity_unit }}</span>
  {%- endcapture -%}
  {%- capture unit_price -%}
    <span class="product__unit-price-amount money" data-unit-price-amount>{{ variant.unit_price | money }}</span>
  {%- endcapture -%}
  {%- capture unit_measure -%}
    <span class="product__unit-price-measure" data-unit-price-measure>
      {%- if variant.unit_price_measurement.reference_value != 1 -%}{{ variant.unit_price_measurement.reference_value }}{%- endif %}{{ variant.unit_price_measurement.reference_unit }}
    </span>
  {%- endcapture -%}

  <div
    class="
      product__unit-price
      {% unless variant.unit_price_measurement %}hidden{% endunless %}
    "
    data-unit-price
  >
    {{ 'product.item.price.price_per_unit_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
  </div>

  {%- capture tax_text -%}
    {{ 'product.item.price.tax_line_html' | t }}
  {%- endcapture -%}

  {%- if tax_text != blank and class_root != 'productitem' -%}
    <div class="
        product__tax
        {% unless variant.taxable %}hidden{% endunless %}
      "
      data-tax-line
    >
      {{ tax_text }}
    </div>
  {%- endif -%}
</div>
