<section class="service-group">
  <div class="service-group__inner constrict">
    <div class="service">
      <h3 class="service__title">Websites</h3>
      <p>Internet Advertising Trends You Won T Be Disappointed with this</p>
    </div>
    <div class="service">
      <h3 class="service__title">Shopify / Ecommerce</h3>
      <p>It S Classified How To Utilize Free Classified Ad Sites To Boost Business</p>
    </div>
    <div class="service">
      <h3 class="service__title">Digital Marketing</h3>
      <p>Freelance Design Tricks How To Get Away With Murder In The Workplace</p>
    </div>
  </div>
</section>
