// ==========================================================================
// Layout
// Layout rules divide the page into sections. Layouts hold one or more
// modules together.
// ==========================================================================

.constrict {
  max-width: rem($desktop-md);
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(30);
}
