<section class="hero js-colorBase">
  <div class="hero__inner constrict">
    <h1>
      <span>A digital</span>
      <span>agency</span>
      <span>but more</span>
      <span>digital.</span>
    </h1>

    <p>Building websites, webshops and active through digital marketing</p>
  </div>
</section>
